<div class="bannerMessage" id="message"></div>
<div class="teamContainer">
  <ul>
    {% set num = 1 %}
    {% for klubb in post.meta('fotballklubber') %}
      <li>{{ num }}.</li>
        {% set num = num + 1 %}
    {% endfor %}
  </ul>

  <ul class="teams" id="teams">
    {% if has_coupon %}
      {% for klubb in kupong %}
        <li>{{ klubb }}</li>
      {% endfor %}
    {% else %}
      {% for klubb in post.meta('fotballklubber') %}
        <li>{{ klubb.klubbnavn }}</li>
      {% endfor %}
    {% endif %}
  </ul>

</div>

<div class="saveButton">
  <a id="save" href="#">Lagre tabell</a>
</div>