<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>This is a single-post</h1>
      <h2 class="title">
        {{ post.post_title }}
      </h2>
      <div class="content">
        {{ post.content }}
      </div>
    </div>
  </div>
</div>
